.Button{
    position: relative;
    display: block;
    padding: 10px 29px 18px 29px;
    color: #FFF;
    background: #1E88E5;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 100%;
    border:none;
    margin-bottom: 0;
    cursor: pointer;
}
.Button:disabled {
    background: #dddddd;
    pointer-events: none;
}
.Button:hover {
    background-color: #42A5F5;
}
